<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block statics %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/book_staff.css') }}">
</head>
<body>
    <div class="ad">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>
    <div class="title">
        <h1>T</h1>
        <h1>O</h1>
        <h1>B</h1>
        <h1>Y</h1>
    </div>
    <div class="foot-add">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>
    <div class="foot-add">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>
    <div class="foot-add">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>
    <div class="foot-add">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>
    <div class="foot-add">
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
        <img src="{{ url_for('static', filename='img/toby_dog.jpg') }}" alt="" width="100px" />
    </div>

    <div class='container'>
        {% block content %}{% endblock %}
    </div>
</body>
</html>