{% extends 'book_staff/annoying_ad.html' %}
{% block title %}
Register
{% endblock %}
{% block statics %}
    <script src="{{ url_for('static', filename='lib/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/book_staff_register.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="counter"></div>
    <form action="/index/register" method="post">

    <div class="form-item">
        <span>email: </span>
        <input type="email" id="email" name="email">
        <button id="send-code-button">send code</button>
        <span class="tip">code already send</span>
    </div>
    <div class="form-item">
        <span>very code: </span>
        <input type="text" id="captcha" name="captcha">
    </div>
    <div class="form-item">
        <span>username: </span>
        <input type="text" id="user-name" name="username">
    </div>
    <div class="form-item">
        <span>password: </span>
        <input type="password" id="password" name="password">
    </div>
    <div class="form-item">
        <span>confirm u pw: </span>
        <input type="password" id="password-confirm" name="password_confirm">
    </div>
    <input type="submit" id="submit-btn" value="submit">
    </form>

{% endblock %}